.comment-input:focus {
    outline: none !important;
    border-color: none;
}


body{
    background:url(/public/images/photo-1633886038290-6023143cd3ba.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.unfollow {
    background-color: blue;
}

.unfollow:hover {
    background-color: rgb(48, 48, 245);
}

